@media (min-width: 1230px) {

  /*body {background-color: pink !important;} */
  body.not-front .region-section{
      float:right;
  }
  #my-menu {
    float:none;
    clear: both;
  }
  .site-branding.col-md-4 {
    text-align: center;
    width: 100%;
  }
  .col-md-8.mainmenu {
    width: 100%;
  }
  .site-branding {
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    width: 32%;
  }
  .fixedbar_center .site-branding {
    float: none;
    margin: 30px auto 0;
    width: auto;
  }
  #breadcrumb {
    clear: both;
  }
  .node-type-page .mainmenu {
    float: right;
    width: 64%;
    margin-right: 15px;
  }
  .node-type-page .site-branding {
    margin-left: 16px;
  }
  .slicknav_menu {
    display: none;
  }
  .menu li.expanded ul.menu {
    display: none;
  }
  .mainmenu {
    float: right;
    width: 66%;
  }
  #main-menu ul.menu {
    border: medium none;
    list-style: outside none none;
    text-align: right;
  }
  nav#navigation {
    margin-top: 14px;
  }
  .region.region-external {
    display: inline-block;
    text-align: right;
    width: 100%;
  }
  .block.block-block.externalmenublock  {
    display: inline-block;
    height: 28px;
    position: relative;
    top: 6px;
    width: auto;
  }
 .browsecatalog {
  top: 8px;
 }
 
  .region.region-external > form {
    display: inline-block;
    width: auto;
  }
  #block-menu-menu-topmenu ul.menu {
    border: medium none;
    list-style: outside none none;
    margin: 15px 0 1em 1em !important;
    text-align: left;
    width: auto;
  }
  .field.field-name-field-section-page-image {
    display: none;
  }
  .slicknav_menu {
    display: none;
  }
  ul.menu ul.menu {
    display: none;
  }
}
