@media all and (min-width: 767px)  {
  .slicknav_menu {
    display: none;
  }
  #block-menu-menu-topmenu ul.menu li ul.menu {
    display: none;
  }
  .field.field-name-field-section-page-image {
    display: none;
  }  
  .node-type-section-page .pane-node-content h2.pane-title {
     margin: 20px 10% 0;
  } 

}
@media all and (min-width: 767px) and (max-width: 1230px){
  span.breadcrumb-0 {
    margin-bottom: 6px;
  } 
  span.breadcrumb-2 {
    margin-bottom: 10px;
  }
} 

@media all and (min-width: 851px) and (max-width: 1230px){

  .region-section{
      float:none;
  }
  .header_title_region {
    margin-right: 0px;
  }
  #site-logo {
    text-align: center;
  }
  nav {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  #main-menu .menu li.expanded ul.menu {
    display: none;
  }
  .slicknav_menu {
    display: none;
  }
  #main-menu ul.menu {
    border: medium none;
    list-style: outside none none;
    text-align: center;
  }
  .field.field-name-field-section-page-image {
    display: none;
  }
  .node-type-section-page .pane-node-content h2.pane-title {
     margin: 20px 10% 0;
  }
   .node-type-section-page .panel-pane.pane-node-content .content {
    margin: 1% 10% 0 !important;
    position: relative;
    z-index: 60;
  }   
   
}
