
@media all and (min-width: 701px) and (max-width: 850px) {
  html{
    font-size: 60%;
  }
/* body { background-color: red !important;}*/

  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}

.region-section{
    float:none;
}  
.header_title_region {
  margin-right: 0px;
}
.mainmenu{
   /* float:none;  */
    text-align: center;
}
#my-menu {
  clear: both;
}
  body.not-front #main-menu {
  border: 0px solid;
  display: inline-block;
  float: none;
  padding: 0;
  text-align: center;
  width: auto;
}

 body.not-front #main-menu ul.menu {
  margin: 0 !important;
  text-align: center;
}
.region.region-header {
  float: none !important;
}
 #site-logo {
  float: none;
  margin-left: 0;
  margin-top: 2px;
  padding: 0;
}
#my-menu {
  clear: both;
  float: none;
  margin: 0 auto;
  width: 400px;
}
 body.not-front #block-menu-menu-topmenu ul.menu {
  border: medium none;
  list-style: outside none none;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}
 body.not-front #search-block-form {
  float: right;
  margin-left: 10px;
}
.block.externalmenublock {
  float: left;
  padding-top: 6px;
}
#search-block-form {
  float: right;
  margin-right: 10px;
}

div#site-logo {
    text-align: center;
}

  h1#site-title{
    text-align: center;
  }

  #site-logo {
    padding-top: 0;
  }
  
  select.mnav{
    width: 100%;
    margin-bottom: 20px;
  }
  nav#navigation {
    margin: 0 20% 20px;  
  }
  body.not-front #search-block-form {
  float: none;
  margin-left: 10px;
  }
  .block.externalmenublock {
    float: none;
    padding-top: 6px;
  }
  .node-type-section-page .panel-pane.pane-node-content .content {
      margin: 1% 0% 0 !important;
      position: relative;
      z-index: 60;
  }
  body.page-browse-addressee .field-name-field-section-page-tag-line, 
  body.page-browse-recipient .field-name-field-section-page-tag-line {
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0 0 1px;
    font-family: "Crimson Text",serif;
    font-weight: bold;
    margin: 1% 0 3%;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  body.page-browse-addressee .islandora-solr-facet-pages-wrapper, 
  body.page-browse-recipient .islandora-solr-facet-pages-wrapper {
    margin: 1% 0;
    z-index: 60;
  }

}



