@media all and (max-width: 766px)  {

  body.front {
  background: url(http://livingstonemd.local/sites/default/files/styles/flexslider_full/public/Level-1-2_0.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .fixedbar_center .site-branding {
    display: block !important;
    margin-top: 0;
  }

  #block-views-home-slideshow-block {
    display: none;
  }
  #slider {
    max-width: 100%;
    width: 100%;
  }
  .front #navigation > #main-menu {
    margin: 0 auto;
    width: 400px;
    z-index: 120;
  }
  .footer {
    background: #000 none repeat scroll 0 0;
    bottom: -29px;
    padding: 20px 0;
    position: absolute;
  }  
  .fixedbar_center {
    width: 100%;
  }
  .fixedbar_left .fixedleft_1, 
  .fixedbar_left .fixedleft_2, 
  .fixedbar_left .fixedleft_3, 
  .fixedbar_right #search-block-form--2, 
  .slideout-menu, 
  #breadcrumb {
    display: none;
  }
  .front .site-branding {
    margin-top: 0px;
  }  
  .block-views-image-banner-scroll-block-2,
  #navigation {
    display: none;
  }
  .front #uppermost,
  .front #navigation {
    display: block;
  }  
  .front #site-logo img {
    max-width: 480px;
  } 
  #main-menu .menu li.expanded ul.menu {
    display: none;
  }  
  .field.field-name-field-section-page-image {
    display: block;
    text-align: center;
  } 
  .slicknav_menu {
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 10px auto 0;
    max-width: 390px;
    padding: 0px 10px 0 20px;
    width: 100%;
    font-family: 14px/1.6 'Source Sans Pro', sans-serif; 
  }
  #header_mobilenav .slicknav_menu {
    margin: 0px auto 0;
  } 
  #header_mobilenav .menu-name-menu-upper{
    display: none;
  } 
  .node-type-page section#content {
      clear: both;
      margin-top: 10px;
  }
  .field.field-name-field-section-page-image img {
    height: auto;
    margin-bottom: 20px;    
  }  
  .about-site .field.field-name-field-section-page-image img {
    border: 6px solid #99cc99;
  }
  .his-own-words .field.field-name-field-section-page-image img {
    border: 6px solid #f7c983;
  } 
  .spectral-imaging .field.field-name-field-section-page-image img {
    border: 6px solid #a48bc2;
  } 
  .life-and-times .field.field-name-field-section-page-image img {
    border: 6px solid #99ccff;
  } 
  .behind-the-scenes .field.field-name-field-section-page-image img {
    border: 6px solid #cc9999;
  }  
  .resources .field.field-name-field-section-page-image img {
    border: 6px solid #cccc99;
  }  
  #site-logo {
    text-align: center;
  }          
  .expanded.slicknav_parent.slicknav_collapsed {
    background: url('/sites/all/themes/lo/images/select-right-arrow2.png') no-repeat right 4px;
    width: 100%;
  }
  .expanded.slicknav_parent.slicknav_open {
    background: url('/sites/all/themes/lo/images/select-arrow2.png') no-repeat right 4px;
    width: 100%;
  }
  .slicknav_btn.slicknav_collapsed .slicknav_menutxt::after {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/lo/images/select-right-arrow2.png") no-repeat scroll right center;
    color: #fff;
    content: "x";
    float: right;
    font-size: 14px;
    margin-right: 9px;
    margin-top: 3px;
    text-indent: -9999px;
    width: 20px;
  }
  .slicknav_btn.slicknav_open .slicknav_menutxt::after {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/lo/images/select-arrow2.png") no-repeat scroll right center;
    color: #fff;
    content: "x";
    float: right;
    font-size: 14px;
    margin-right: 9px;
    margin-top: 2px;
    width: 20px;
  }  
  .expanded.slicknav_parent.slicknav_collapsed a,
  .expanded.slicknav_parent.slicknav_open a {
    color: #333;
    font-size: 14px;
  }  
  a.slicknav_btn, a.slicknav_btn:hover, a.slicknav_btn:focus {
    color: #000;
  }
  .slicknav_nav .menu li.expanded, .slicknav_nav .menu li.collapsed {
    width: 98%;

  }
  .slicknav_arrow {
    display: none;
  }   
  .slicknav_nav {
    width: 100%;
  }  
  .slicknav_nav ul.menu, .slicknav_nav li.expanded, .slicknav_nav li.collapsed {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 0em;
  }
  .slicknav_nav ul.menu li.expanded.slicknav_parent.slicknav_collasped a,  
  .slicknav_nav ul.menu li.expanded.slicknav_parent.slicknav_open a {
      color: #333;
      font-weight: bold;
  }
  .slicknav_nav ul.menu li.expanded.slicknav_parent.slicknav_collasped ul li a,  
  .slicknav_nav ul.menu li.expanded.slicknav_parent.slicknav_open ul li a {
    font-weight: normal;
    color: #666;
  }   
  .slicknav_menutxt {
    color: #333;
    font-size: 14px;
    margin-left: -1px;
  }
  body.page-islandora-search h1.page-title,
  .node-type-section-page .pane-node-content h2.pane-title {
    margin: 20px 3% 0 !important;
  }
  body.page-islandora-search h1.page-title,
  .node-type-section-page .pane-node-content h2.pane-title {
    border-top: 1px solid #ccc;
    padding-top: 30px;
  }
  .doubleleft img {
    float: none !important;
  }
  .doubleright img {
    float: none !important;
  }
  .doubleleft, .doubleright {
    display: block;
    margin: 10px 0;
    width: 90% !important;
  }
  .doubleleft img, .doubleright img {
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
  } 
}

@media all and (min-width: 701px) and (max-width: 850px) {
  html{
    font-size: 60%;
  }
  body.front {
    background: url(http://livingstonemd.local/sites/default/files/styles/flexslider_full/public/Level-1-2_0.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .front .col-md-12.mainmenu {
      margin-top: 20px;
  }
  .front #site-logo img {
    max-width: 480px;
  }
  .front #navigation > #main-menu {
    margin: 0 auto;
    width: 400px;
    z-index: 120;
  }  
  #block-views-home-slideshow-block {
    display: none;
  }
  .footer {
    background: #000 none repeat scroll 0 0;
    bottom: -29px;
    padding: 20px 0;
    position: absolute;
  }
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}

  select.mnav {
    margin-bottom: 20px;
    width: 100%;
  }
  .region-section{
      float:none;
  }  
  #my-menu {
    clear: both;
    float: none;
    margin: 0 auto;
    width: 400px;
  }
  #site-logo {
    text-align: center;
  }
  .fixedbar_right #search-block-form--2 {
    display: none;
  }

  nav {
  margin: 0 auto !important;
    text-align: center;
    width: 66%;
  }
  #main-menu ul.menu {
    border: medium none;
    list-style: outside none none;
    text-align: center;
  }
  #block-nodequeue-pager-3,
  .prevnextnav, 
  .nodequeuepager, .prevnextnode_mid {
        display: none;
  } 
  .node-type-section-page .panel-pane.pane-node-content .content {
      margin: 1% 0% 0 !important;
      position: relative;
      z-index: 60;
  }

  body.page-browse-addressee .field-name-field-section-page-tag-line, 
  body.page-browse-recipient .field-name-field-section-page-tag-line {
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0 0 1px;
    font-family: "Crimson Text",serif;
    font-weight: bold;
    margin: 1% 0 3%;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  body.page-browse-addressee .islandora-solr-facet-pages-wrapper, 
  body.page-browse-recipient .islandora-solr-facet-pages-wrapper {
    margin: 1% 0;
    z-index: 60;
  }
  ul.menu ul.menu {
    display: none;
  }
}




