@media all and (max-width: 409px) {

  .node-type-section-page .pane-node-content h2.pane-title {
    margin: 20px 3% 0;
  }
  .fixedbar_center {
    width: 100%;
  }
  .fixedbar_left .fixedleft_1, 
  .fixedbar_left .fixedleft_2, 
  .fixedbar_right #search-block-form--2, 
  .slideout-menu,
  #breadcrumb {
    display: none;
  }
  .site-branding {
    margin-top: 40px;
  }
    
}  

@media all and (max-width: 450px) {

  .front #site-logo img {
    width: 90%;
  }
  .front .content_main {
      clear: both;
      margin: 0px auto 0px !important;
  }
  .front #navigation > #main-menu {
    margin: 0 auto;
    width: 300px;
  } 
  .node-type-page .content_main {
      clear: both;
      margin: 0px auto 20px;
      max-width: 1260px;
  }
  #primary {
    margin-top: -20px;
  }
  .flex-caption{
    text-align: center;
  }
  .header_title_region {
    margin-right: 0px;
  }
  .region-section{
      float:none;
  }
  .fixedbar_left, .fixedbar_right {
    width: 0%;
  }
  .fixedbar_center {
    width: 100% !important;
  }
  .fixedbar_center #site-logo {
    margin: 0 auto;
    width: 95%;
  }
  #site-logo {
    margin: 0 auto;
    width: 100%;
  }
  .mainmenu {
      float: none;
      text-align: center;
      margin: 0 auto;
  }
  #my-menu {
    clear: both;
  }
  ul.menu {
    margin: 0 0 0 0.75em !important;
  }
  #main-menu ul.menu {
    margin: 0 0 0 0.75em !important;
    text-align: center;
  }
  .region.region-header {
    float: none !important;
  }
  
  #block-menu-menu-topmenu ul.menu {
    border: medium none;
    list-style: outside none none;
    margin-top: 15px;
    text-align: center;
    width: auto;
  }

 #masthead {
    max-height: 255px;
  } 

/* level 2 pages */
  div#block-nodequeue-pager-2 {
      display: none;
  }
  .doubleleft img, .doubleright img {
    margin: 2.5% 0px !important;
    height: auto !important;
  }  
  .doubleleft, .doubleright {
    display: inline-block;
    margin: 2.5px;
    width: auto;
  }
  .view.view-image-banner-scroll.view-id-image_banner_scroll.view-display-id-panel_pane_1 {
      display: none;
  }
  .node-type-section-page .panel-pane.pane-node-content .content,
  .node-type-section-page .pane-node-content h2.pane-title {
        margin: 20px 0 !important;
   } 
  .node-type-section-page .pane-node-content h2.pane-title {
    font-size: 32px !important;
  } 
  .nodequeuepager, .prevnextnode_mid {
        display: none;
  }      
  .node-type-section-page .panel-pane.pane-node-content .content {
      margin: 1% 0% 0 !important;
      position: relative;
      z-index: 60;
  }
  .footershare .stButton {
    margin-left: 4px !important;
    margin-right: 4px !important;
  }

/*  Level 3 menus  */

  #mobile-menu-inner .menu li.leaf {
    display: block;
    line-height: 20px;
    margin: 5px 0 5px 5px;
    max-width: 100%;
    min-width: 120px;
    padding: 0 0 1px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }
  #mobile-menu li, .mobile-menu li {
      border-bottom: 0px solid #cccccc;
      border-left: 0px solid #cccccc;
      border-right: 0px solid #cccccc;
      clear: both;
      list-style: none outside none;
      margin: 0;
      overflow: hidden;
  }
  #mobile-menu li > a, .mobile-menu li > a {
      float: left;
      padding: 4px 0 4px 15px;
      width: 100%;
  }
  #mobile-menu-inner .menu li a {
      color: #000;
      font-family: 'Oxygen',sans-serif;
      font-size: 12.4px;
      font-weight: 600;
      text-align: left;
  }
  #mobile-menu-inner .menu li.leaf:hover {
    /*opacity: .3;*/
    background: #ccc;
  }
  #mobile-menu-inner .menu li:nth-child(1){
     background-color: transparent; 
  }

  #mobile-menu-inner .menu li:nth-child(2){
     background-color: transparent; 
  }

  #mobile-menu-inner .menu li:nth-child(3){
     background-color: transparent; 
  }

  #mobile-menu-inner .menu li:nth-child(4){
     background-color: transparent; 
  }

  #mobile-menu-inner .menu li:nth-child(5){
     background-color: transparent; 
  }

  #mobile-menu-inner .menu li:nth-child(6){
     background-color: transparent; 
  }
  .footer {
    background: #000 none repeat scroll 0 0;
    bottom: -29px;
    padding: 20px 0;
    position: absolute;
  }

}