
.slideout-menu {
	border-right: 2px solid #eee;
	position: fixed;
	top: 0;
	left: -250px;
	width: 190px;
	height: 100%;
	background: #fff;
	z-index: 100;
	transition: all 0.5s ease;
}
.slideout-menu h3 {
  color: #999;
  font-size: .9em;
  font-weight: 400;
  margin-left: 58px;
  margin-top: 40px;
  padding: 8px 12px;
  position: relative;
}
.slideout-menu .slideout-menu-toggle {
  background: none repeat scroll 0 0 #eee;
  color: #000;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  line-height: 1;
  padding: 1px 4px;
  position: absolute;
  right: 15px;
  text-decoration: none;
  top: 10px;

}
.slideout-menu-toggle {
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 20px;
  padding: 3px 6px;
  position: relative;
  top: 11px;
}
.slideout-menu-toggle a {
  color: #000;
}
.slideout-menu-toggle i {
  color: #000;
}
.slideout-menu .slideout-menu-toggle:hover {
	color: #000;
}
.slideout-menu .region-section {
  float: left;
}
.slideout-menu ul {
  list-style: outside none none;
}
.slideout-menu ul .fa.fa-wordpress {
  font-size: 24px;
  margin-right: 0;
}
li.frmore{
  display: block;  
  width: 1230px;
  padding: 1px 1px 1px 1px;
  margin: 10px 7px 10px 0px;
  text-align: center;
}
.slideout-menu #search-block-form {
  display: none;
}
.slideout-menu #main-menu {
  border-bottom: medium none;
  clear: both;
  float: none;
  padding: 0;
}
.slideout-menu .menu li.leaf {
  margin-left: -5px;
}
.slideout-menu #main-menu ul {
  list-style: outside none none;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 0;
}
.slideout-menu #main-menu li {
  float: none;
  list-style: outside none none;
  margin-left: 30px;
  margin-bottom: 10px;
}
.sideslideexternal .content > ul {
  margin-left: 36px;
  margin-top: 10px;
}
.slideout-menu .topmenu {
  margin-left: 10px;
}
.sideslideexternal {
  margin-left: -40px;
  margin-top: -15px;
  text-align: center;
}
.sideslideexternal .externalmenu .content ul {
  margin-left: 10px;
}
.sideslideexternal li.leaf {
  display: inline-block;
  margin-top: 10px;
  width: auto;
 } 
.fixedleft_1, .fixedleft_2, .fixedleft_23 {
	float: left;
}
.fixedleft_1 {
  padding: 0 10px 10px;
  width: 80px;
}
.fixedleft_2 {
	margin-left: -25px;
  margin-right: 12px;
}
