@media all and (max-width: 700px) {

  /* body {background-color: blue !important;} */
  select.mnav {
    margin-bottom: 20px;
    width: 100%;
  }
  .fixedbar_center {
    width: 100%;
  }
  .fixedbar_left .fixedleft_1, 
  .fixedbar_left .fixedleft_2, 
  .fixedbar_right #search-block-form--2, 
  .slideout-menu,
  #breadcrumb {
    display: none;
  }  
  .site-branding {
    margin-top: 40px;
  }  
  #my-menu {
    clear: both;
  }
    #site-logo {
      text-align: center;
    }
    .region.region-external {
      display: inline-block;
      text-align: center !important;
      width: 100%;
    }
    .block.externalmenublock {
      display: block;
      padding-top: 6px;
    }
    ul#externalmenu {
      margin: 0 0 0 10px;
    }
    #search-block-form {
      display: inline-block;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 1em;
    }
    nav {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
    #main-menu ul.menu {
      border: medium none;
      list-style: outside none none;
      text-align: center;
    }
    #uppermost,
    #navigation {
        display: none;
    }
  .browsecatalog {
      margin-top: 12px;
  }

  div#block-nodequeue-pager-2 {
      display: none;
  }

  .view.view-image-banner-scroll.view-id-image_banner_scroll {
      display: none;
  }
  .node-type-section-page .panel-pane.pane-node-content .content,
  .node-type-section-page .pane-node-content h2.pane-title {
        margin: 20px 0 !important;
   }
  #block-nodequeue-pager-3,
  .prevnextnav, 
  .nodequeuepager, .prevnextnode_mid {
        display: none;
  }  
     
  .node-type-section-page .panel-pane.pane-node-content .content {
      margin: 1% 0% 0 !important;
      position: relative;
      z-index: 60;
  }
  .node-type-section-page .pane-node-content h2.pane-title {
    font-size: 32px !important;
  }  
  body.page-browse-addressee .field-name-field-section-page-tag-line, 
  body.page-browse-recipient .field-name-field-section-page-tag-line {
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0 0 1px;
    font-family: "Crimson Text",serif;
    font-weight: bold;
    margin: 1% 0 3%;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  body.page-browse-addressee .islandora-solr-facet-pages-wrapper, 
  body.page-browse-recipient .islandora-solr-facet-pages-wrapper {
    margin: 1% 0;
    z-index: 60;
  }
}