.his-own-words.timeline.node-type-section-page .field.field-name-field-social-media-links .field-items {
  border: 0;
}
.his-own-words.timeline .fixedbar_right #search-block-form {
  display: none;
  margin-right: 10px;
  width: auto;
}
.simple_timeline ul .timeline-content {
  min-width: 125px;
  padding: 0 6px !important;
}
h3.timeline-date {
  font-size: 1em;
}
.simple_timeline .timeline-date {
  margin: 0 2% -1%;
  text-align: right;
}
.simple_timeline ul li .timeline-text {
  font-size: .9em !important;
  color: gray;
  width: auto;
  margin-left:2%;
  line-height:20.5px;
}
.simple_timeline ul li .timeline-text a {
  font-size: 14px !important;
  line-height: 20.5px;
}
.simple_timeline ul .timeline-image {
  margin-top: 5px;
}
.timeline-date {
  margin: 0 2% -1% 2%;
}
input#edit-creators-value, input#edit-title, input#edit-dates-value {
  background: rgba(0, 0, 0, 0) url("/sites/all/themes/lo/images/search-button.png") no-repeat scroll 0 0;
  border-radius: 7px;
  font-size: 14px;
  height: 25px;
  padding-left: 31px;
  width: 200px;
}
input#edit-submit-timeline-test, input#edit-reset {
  border-radius: 7px;
  font-size: 14px;
  height: 25px;
  padding: 0 10px;
  border: 1px solid #ddd;
}
.views-exposed-widget.views-widget-filter-dates_value {
  display: inline-block;
  float: none;
}
.views-exposed-widget.views-widget-filter-title {
  display: inline-block;
  float: none;
}
.views-exposed-widget.views-widget-filter-creators_value {
  display: inline-block;
  float: none;
}
#views-exposed-form-timeline-test-page .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
.view-timeline-test .view-filters {
  text-align: center;
}
.views-exposed-widgets {
  display: inline-block;
  margin-bottom: 1em;
  width: auto;
}
#views-exposed-form-timeline-test-page .views-exposed-form {
  text-align: center;
}
.view-timeline-test .views-exposed-form {
  display: inline-flex;
  margin: 0 auto;
}
.simple_timeline ul li:nth-child(2n+1) > div .timeline-content {
  float: right;
  padding-right: 2px;
}
.simple_timeline ul li:nth-child(2n) > div .timeline-content {
  float: left;
  padding-left: 2px;
}
.views-exposed-widget.views-submit-button {
  display: inline-block;
  float: none;
}
.views-exposed-widget.views-reset-button {
  display: inline-block;
  float: none;
}

@media all and (max-width: 1229px) {
  .timeline-text {
    max-width: 400px;
    min-width: 400px;
    width: 100% !important;
  }
}
@media all and (max-width: 850px) {
  .timeline-text {
    max-width: 100%;
    min-width: 275px;
    width: 100% !important;
  }
  #edit-submit-timeline-test {
    float: none;
  }
  #edit-reset {
    float: none;
  }
 .views-exposed-widget.views-reset-button {
    display: inline-block;
    float: none;
    text-align: left;
    width: 20%;
  }
  .views-exposed-widget.views-submit-button {
    display: inline-block;
    float: none;
    text-align: right;
    width: 20%;
  } 
  .views-exposed-form .views-exposed-widget {
    padding: 0.5em 1em 0 0;
    float: none;
  }
}
@media all and (max-width: 684px) {
 .views-exposed-widget.views-reset-button {
    display: inline-block;
    float: none;
    text-align: left;
    width: auto;
  }
  .views-exposed-widget.views-submit-button {
    display: inline-block;
    float: none;
    text-align: right;
    width: auto;
  }
}
@media all and (max-width: 465px) {
  #views-exposed-form-timeline-test-page .views-exposed-form .views-exposed-widget {
    display: inline-block;
    padding: 0.5em 1em 0 0;
    text-align: center;
  }
  .item-list.simple_timeline {
    padding: 0 10px;
  }
  .simple_timeline ul li:nth-child(2n) > div .timeline-date {
    text-align: left;
  }
  .simple_timeline .timeline-date {
    margin-left: 0;
  }
  .simple_timeline ul li .timeline-text {
    margin-left: 0;
  }
  .views-exposed-widget.views-widget-filter-dates_value {
    display: block;
    float: none;
  }
  #views-exposed-form-timeline-test-page .views-exposed-form .views-exposed-widget {
    display: block;
    padding: 0.5em 1em 0 0;
    text-align: center;
  }
  .views-exposed-widget.views-widget-filter-title {
    display: block;
    float: none;
  }
  .views-exposed-widget.views-widget-filter-creators_value {
    display: block;
    float: none;
  }
  .views-exposed-widget.views-submit-button {
    display: inline-block !important;
    float: none;
    text-align: right;
    width: auto;
  }
  .views-exposed-widget.views-reset-button {
    display: inline-block !important;
    float: none;
    text-align: left;
    width: auto;
  }
}
