h3.timeline-date {
  font-size: 1em;
}
.timeline-text {
	color: gray;
}
.timeline-text, .timeline-text a {
	font-size: .9em !important;
	line-height: 20.5px;
}
.simple_timeline ul .timeline-image {
  margin-top: 5px;
}
.timeline-date {
	margin: 0 2% -1% 2%;
}
input#edit-creators-value,
input#edit-title,
input#edit-dates-value {
  border-radius: 7px;
  height: 25px;
}
input#edit-submit-timeline-test, input#edit-reset {
  border-radius: 7px;
  font-size: 14px;
  height: 25px;
  padding: 0 10px;
  border: 1px solid #ddd;
}
#views-exposed-form-timeline-test-page .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.9em;
}