@import "_mixins";

.field-name-field-section-grid-image {
  @media screen and (min-width: @screen-sm-min) {
    display: none;
  }
  img {
    margin: 10px auto;
  }
}
// Adds a colored border image.
.add-colored-border(@color) {
  .field-name-field-section-grid-image img {
    border: 6px solid @color;
  }
}
.section-about-this-site {
  .add-colored-border(@about-this-site);
}

.section-in-his-own-words {
  .add-colored-border(@in-his-own-words);
}

.section-spectral-imaging {
  .add-colored-border(@spectral-imaging);
}

.section-life-and-times {
  .add-colored-border(@life-and-times);
}

.section-behind-the-scenes {
  .add-colored-border(@behind-the-scenes);
}

.section-resources {
  .add-colored-border(@resources);
}
// Moved to the body but starts inside of '.field-name-field-section-table-of-contents'
body > .table-of-contents-modal {
  display: none;
  &.open {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}
.field-name-field-section-table-of-contents {
  position: relative;
  height: 30px;
  margin-bottom: 26px;
  .slicknav_menu {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: white;
    z-index: 1010;
    &.open {
      border: 1px solid black;
    }
    .slicknav_menutxt {
      color: #428bca;
    }
  }
  .menu.nav {
    display: none;
  }
  li {
    &> span {
      font-weight: bold;
      padding-left: 10px;
    }
    &> a {
      padding-left: 30px;
      display: inline-block;
    }
  }
}
.field-name-field-section-subtitle {
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-family: 'Crimson Text', serif;
}
.field-name-field-section-byline {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.field-name-field-section-overview {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0;
  padding: @line-height-computed 0;
  p {
    padding-left: 5px;
    font-family: "Crimson Text", serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  hr {
    display: none;
  }
  margin: @line-height-computed 0;
}
.field-name-field-section-body {
  line-height: 25.6px;
  overflow-wrap: break-word;
  h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin-bottom: 20px;
  }
  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  p {
    margin: 0 0 20px;
    &.space-2 {
      margin: 0px 0 5px !important;
    }
    &.space-1 {
      margin: 0px 0 10px !important;
    }
    &.space1 {
      margin: 10px 0 30px !important;
    }
    &.space2 {
      margin: 20px 0 40px !important;
    }
    &.rteindent1 {
      margin-left: 40px;
    }
    &.rteindent2 {
      margin-left: 80px;
    }
    &.rteindent3 {
      margin-left: 120px;
    }
    &.rteindent4 {
      margin-left: 160px;
    }
    &.rteleft {
      text-align: left;
    }
    &.rteright {
      text-align: right;
    }
    &.rtecenter {
      text-align: center;
    }
    &.rtejustify {
      text-align: justify;
    }
  }
  table {
    width: 100%;
    margin: 0 auto 1.5em;
    background: white;
  }
  img {
    margin: auto;
    max-width: 100%;
  }
  // Needs cleaning.
  .doubleimg {
    margin:0 auto;
    text-align: center;
    width: 100%;
  }
  .doubleleft,
  .doubleright {
    display: inline-block;
    //margin: 2.5% 10px !important;
    float: none !important;
    @media (max-width: 450px) {
      img {
        height: auto !important;
      }
    }
    @media (min-width: @screen-sm-min) {
      width: 45%;
      margin: 2.5px;
    }
  }
  @media (min-width: @screen-sm-min) {
    .doubleleft img {
      float: right;
      height: auto;
    }
    .doubleright img {
      float: left;
    }
  }
}
.field-name-field-section-page-transcription {
  // XXX Hack.
  max-width: 1055px;
  margin: 0 auto;
  .transcription-viewer-toolbar {
    .flexbox(center);
    .form-type-select {
      .flex(0, 0, auto);
      margin: 0 7.5px 15px;
      button, input {
        font-size: 14.4px;
        height: 25px;
        padding-left: 15px;
        background-color: #eee;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }
    }
  }
  .transcription-field-display {
    .flexbox(space-between);
    .pane {
      // Only one pane on small displays.
      @media @media-sm-max {
        .flex(0, 0, 100%);
        width: 100%;
        &:last-of-type {
          display: none;
        }
      }
      // Two displays on larger screens.
      @media @media-md-min {
        .flex(0, 1, 49%);
        min-width: 0;
      }
    }
  }
  .transcription-viewer-content {
    display: block;
    height: 600px;
    overflow: scroll;
    position: relative;
    -webkit-font-smoothing: auto;
  }
}
.field-name-field-section-byline ~ .field-name-field-section-overview {
  margin-top: 8px;
}