@import "_variables";
@import "_utils";

.menu-item-color(@color) {
  background-color: @color;
  /*TEST*/
  &:hover,
  &:focus {
    background-color: @color;
  }
}

.menu {
  // Primary "main-menu".
  &.primary {
    > li {
      .trim();
      > a {
        .trim();
        font-family: 'Oxygen',sans-serif;
        font-size: 0.8em;
        font-weight: 600;
        color: @navbar-default-link-color;
        &:hover,
        &:focus {
          background-color: initial;
        }
      }
      // Background colors.
      &:nth-child(1) a {
        .menu-item-color(@about-this-site);
      }
      &:nth-child(2) a {
        .menu-item-color(@in-his-own-words);
      }
      &:nth-child(3) a {
        .menu-item-color(@spectral-imaging);
      }
      &:nth-child(4) a {
        .menu-item-color(@life-and-times);
      }
      &:nth-child(5) a {
        .menu-item-color(@behind-the-scenes);
      }
      &:nth-child(6) a {
        .menu-item-color(@resources);
      }
    }
  }
  // Do not display sub menus.
  .menu {
    display: none;
  }
}
