
.form-search {
  max-width: 320px;
  .input-group {
    max-width: 220px;
  }
  .input-group-addon {
    border-right: none;
    border-radius: @border-radius-default 0px 0px @border-radius-default;
    .glyphicon {
      font-size: 12px;
      top: 0;
    }
  }
  .input-group input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-left: none;
    border-right: none;
    font-size: @nav-icon-font-size;
  }
  .input-group-btn {
    button {
      border-radius: 0px @border-radius-default @border-radius-default 0px;
      line-height: 26px;
    }
  }
  .form-control:focus {
    // Could this be changed?
    border-color: #ccc;
  }
  .dropdown-menu {
    > li > a {
      padding: 3px 10px;
    }
  }
  .form-checkboxes {
    input {
      margin-right: 0.5em;
    }
  }
}
/*
.form-search {
  max-width: 320px;
  .input-group-addon {
    border-radius: @border-radius-default 0px 0px @border-radius-default;
    padding: 0;
    .glyphicon {
      font-size: 12px;
      padding: 0 6px;
      top: 0;
    }
  }
  .input-group-btn {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 0px @border-radius-default @border-radius-default 0px;
    border-left: 0;
    background-color: #fff;
    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
    &.open {
      background-color: #d4d4d4;
      border-color: #8c8c8c;
    }
    button {
      margin: 0 !important;
      border: 0;
      padding: 0 6px;
      height: 25px;
    }
  }
  .input-group input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-left: none;
    font-size: @nav-icon-font-size;
    line-height: @nav-icon-height;
    height: @nav-icon-height;
    padding: 0 6px 0 0;
  }
  .form-control:focus {
    // Could this be changed?
    border-color: #ccc;
  }
  .dropdown-menu {
    > li > a {
      padding: 3px 10px;
    }
  }
  .form-checkboxes {
    input {
      margin-right: 0.5em;
    }
  }
}*/

.page-search-node {
  h2 {
    border: 0 solid rgba(0, 0, 0, 0.2);
    border-bottom-width: 1px;
    color: #000;
    font-family: "Crimson Text", serif;
    font-size: 36.5px;
    font-weight: 600;
    padding-bottom: @line-height-computed;
    text-align: center;
  }
  ol {
    padding: 0;
  }
  li {
    list-style: none;
  }
  .search-result {
    border-bottom: 1px solid #d3d7d9;
    padding-bottom: @line-height-computed;
    margin-bottom: @line-height-computed;
    .title {
      // Override the defaults for centered titles.
      text-align: left;
      font-family: "Crimson Text", serif;
      font-size: 1.25em;
      margin-bottom: @line-height-computed;
      a {
        text-decoration: none;
      }
    }
    .search-info {
      display: none;
    }
  }
}