@import "../_mixins";
@import "_manuscript_view_filter";

.view-timeline {
  .manuscript-view-filter();
  .simple_timeline ul li {
    div {
      .flexbox(flex-start, row, nowrap);
    }
    @media @media-sm-max {
      div {
        .flex-flow(row, wrap);
      }
      .timeline-image {
        order: 1 !important;
        margin-bottom: 10px;
      }
      .timeline-content {
        .flex(1, 0, 100%);
        order: 2 !important;
      }
    }
    &:nth-child(2n-1) div {
      .justify-content(flex-end);
      .timeline-content {
        order: 1;
      }
      .timeline-image {
        order: 2;
      }
    }
    &:nth-child(2n) div {
      .justify-content(flex-start);
      .timeline-content {
        order: 2;
      }
      .timeline-image {
        order: 1;
      }
    }
  }
  .timeline-image {
    // Reset the defaults provided by the module.
    overflow-x: visible !important;
    padding: 0 10px 0 0;
    img {
      // Reset the defaults provided by the module.
      max-width: inherit;
    }
    & ~ .timeline-content {
      margin-right: 10px;
    }
  }
  .timeline-date {
    font-size: 1em;
    text-align: right;
    margin: 0 !important
  }
  .timeline-text {
    font-size: 0.9em !important;
    color: gray;
    width: auto !important;
    line-height: 1.5em;
    margin: 0 !important;
    width: 80%;
    a {
      font-size: 0.95em !important;
      line-height: 1.5em;
    }
  }
}